.navbar-size {
  width: 95%;
  margin: 0 auto;
}
.user-image-size {
  height: 56px;
  margin: 4px 0;
}
.main-body {
  min-height: 100vh;
  background-color: rgba(27, 133, 231, 0.459);
}
.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
#testButton {
  background-color: #24a0ed;
  margin-top: 50px;
}

/* #testButton {
  background-color: #24a0ed;
} */

#testButton:hover {
  background-color: #1565c0;
}
.card-text {
  color: #212121;
}

nav {
  background-color: rgba(27, 133, 231, 0.459);
}

#formSubmit {
  background-color: #24a0ed;
}

.lidin {
  background-color: #24a0ed;
}

.lidin:hover {
  background-color: #1565c0;
}

.helloInput {
  width: 200px;
}

.title {
  color: rgba(255, 255, 255, 0.959);
}
.mainText {
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(27, 133, 231, 0.459);
}

.page-footer {
  background-color: rgba(27, 133, 231, 0.459);
}
main {
  flex: 1 0 auto;
}

.card .card-image img {
  height: 200px;
}
